<div class="page__footer-copyright"><a href="{{ '/' | relative_url }}">Home</a> &middot; <a href="{{ '/exercise-classes/' | relative_url }}">Exercise Classes</a> &middot; <a href="{{ '/infrared-sauna/' | relative_url }}">Infrared Sauna</a> &middot; <a href="{{ '/coaching/' | relative_url }}">Coaching &amp; More</a> &middot; <a href="{{ '/about/' | relative_url }}">About</a> &middot; <a href="{{ '/contact/' | relative_url }}">Contact</a></div>

<div class="page__footer-copyright">The Toned Life &mdash; Blakeney area, Charlotte, NC &middot; In person &amp; online</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &middot; <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a></div>
